
.botaoPadrao{
    margin-top:  5px;
    margin-left: 5px;
    width: 60px;
    min-width: 110px;
    max-width: 110px;
    height: 34px;
    min-height: 34px;
    max-height: 34px;
}

.botaoEditar{
    background-image:url('#{request.contextPath}/resources/img/pencil.png'); width: 16px;height: 16px; border: none;
}

.botaoExcluir{
    background-image:url('#{request.contextPath}/resources/img/delete.png'); width: 16px;height: 16px; border: none;
}